body {
    font-family: Arial, sans-serif;
    background-color: #e1f5fe; /* Azul pastel */
    color: #37474f; /* Azul escuro */
    text-align: center;
    margin: 20px;
}

#container {
    background-color: #ffffff; /* Branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

h2 {
    color: #ffca28; /* Amarelo pastel */
}

label {
    display: block;
    margin: 10px 0;
    color: #37474f; /* Azul escuro */
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #ffca28; /* Amarelo pastel */
    color: #37474f; /* Azul escuro */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #37474f; /* Azul escuro */
}
